.DS_Store
*cache*
.Rproj.user
docs
*.typ
sandbox/
inst/doc
*.sh
*.pdf
!inst/pdf/*.pdf
*.tar.gz
*.json
*.xml
!docker-install.xml
!inst/verapdf-greenfield-1.28.2/install-config*
*.html
!inst/report/*.html
User*
