name: Run unit tests

on:
  push:
    branches: [main, master]
  pull_request:

permissions: read-all

jobs:
  test-units:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      INSIDE_CI: true

    steps:
      - uses: actions/checkout@v5

      - name: Build veraPDF Docker image
        run: |
          docker build -t verapdf-cli -f Dockerfile .

      - name: Test veraPDF CLI
        run: |
          docker run --rm verapdf-cli --version

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::testthat, any::xml2, any::devtools

      - name: Run unit tests
        run: |
          devtools::load_all()
          testthat::test_dir("tests/testthat", stop_on_failure = TRUE)
        shell: Rscript {0}
