on:
  push:
    branches: [main]
  pull_request:

name: Run unit tests

permissions: read-all

jobs:
  test-units:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::testthat, any::xml2, any::devtools, any::pandoc

      - name: Run unit tests
        run: |
          devtools::load_all()
          pandoc::pandoc_install()
          install_verapdf()
          cat("Sys.which('verapdf'): '", Sys.which("verapdf"), "'", sep="")
          testthat::test_dir("tests/testthat", stop_on_failure = TRUE)
        shell: Rscript {0}
